* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: roboto, arial, helvetica;
}

body .header {
  height: 100vh;
  margin: 0;
  color: white;
}

body .header .headerbg {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(gallery/lolbg01.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(gallery/lolbg01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body .header .headerbg .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 47% 3%;
      grid-template-columns: 50% 47% 3%;
  height: 100%;
  margin: 0;
}

body .header .headerbg .grid .leftgrid {
  display: -ms-grid;
  display: grid;
  height: 90%;
  width: 100%;
  margin: 0;
}

body .header .headerbg .grid .leftgrid .logo {
  position: absolute;
  top: 5%;
  left: 5%;
  color: #fff;
}

body .header .headerbg .grid .leftgrid .logo h2 {
  font-size: 3.5em;
}

body .header .headerbg .grid .leftgrid .logo sup {
  font-size: 0.5em;
}

body .header .headerbg .grid .leftgrid .logo strong {
  color: #960000;
}

body .header .headerbg .grid .leftgrid .leftflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto auto 0 10%;
}

body .header .headerbg .grid .leftgrid .leftflex .titlesection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

body .header .headerbg .grid .leftgrid .leftflex .titlesection .titleph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto auto auto 0;
  line-height: 0;
}

body .header .headerbg .grid .leftgrid .leftflex .titlesection .titleph .find {
  text-align: right;
  font-size: 1.6em;
  padding-bottom: 0.3em;
  color: #b4b4b4;
}

body .header .headerbg .grid .leftgrid .leftflex .titlesection .titleph h1 {
  font-size: 3.5em;
  font-weight: 500;
  line-height: 0.3em;
  padding-bottom: 0.5em;
  color: #960000;
  text-transform: uppercase;
}

body .header .headerbg .grid .leftgrid .leftflex .titlesection .titleph sup {
  font-size: 0.5em;
  font-weight: 600;
  color: #b4b4b4;
  padding-right: 3%;
}

body .header .headerbg .grid .leftgrid .leftflex .titlesection .desc {
  font-size: 1.3em;
  padding-bottom: 1em;
  color: #b4b4b4;
}

body .header .headerbg .grid .leftgrid .leftflex .titlesection .buttonsrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 6em;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

body .header .headerbg .grid .leftgrid .leftflex .titlesection .buttonsrow .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.3em;
  margin: auto;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  width: 8em;
  -webkit-box-shadow: 0 0 20px #960000;
          box-shadow: 0 0 20px #960000;
}

body .header .headerbg .grid .leftgrid .leftflex .titlesection .buttonsrow .btn:hover {
  -webkit-box-shadow: 0 0 30px #960000;
          box-shadow: 0 0 30px #960000;
}

body .header .headerbg .grid .leftgrid .leftflex .titlesection .buttonsrow .active {
  background-color: #7d0000;
}

body .header .headerbg .grid .rightgrid {
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
  margin: 0;
}

body .header .headerbg .grid .rightgrid .rightgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 25% 25% 50%;
      grid-template-rows: 25% 25% 50%;
  margin: 5% auto auto auto;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexfirstnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 100%;
  width: 100%;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexfirstnav ul {
  width: 80%;
  height: auto;
  justify-items: right;
  margin: 0 3% auto auto;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexfirstnav ul li {
  list-style: none;
  margin: 0 0 auto auto;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexfirstnav ul a {
  text-decoration: none;
  color: #b4b4b4;
  font-size: 1.3em;
  font-weight: 400;
  position: relative;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexfirstnav ul a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #960000;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexfirstnav ul a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexfirstnav ul .activenav {
  color: #fff;
  border-bottom: 3px solid #7d0000;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav .secondnavtitlesection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: auto;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav .secondnavtitlesection .titleh2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto auto auto 7%;
  line-height: 0px;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav .secondnavtitlesection .titleh2 p {
  text-align: right;
  font-size: 1.2em;
  color: #b4b4b4;
  font-weight: 500;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav .secondnavtitlesection .titleh2 h2 {
  line-height: 0.6em;
  font-size: 3.5em;
  font-weight: 700;
  color: #960000;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav .secondnavtitlesection .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3% auto auto auto;
  width: 90%;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav ul li {
  list-style: none;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav ul a {
  text-decoration: none;
  color: #b4b4b4;
  font-size: 1.3em;
  font-weight: 400;
  position: relative;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav ul a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #960000;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav ul a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav ul .activenav {
  color: #fff;
  border-bottom: 3px solid #7d0000;
}

body .header .headerbg .grid .rightgrid .rightgrid .swiper-container {
  width: 100%;
  height: 100%;
  margin: 0;
}

body .header .headerbg .grid .rightgrid .rightgrid .swiper-container .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .headerbg .grid .rightgrid .rightgrid .swiper-container .swiper-wrapper .swiper-slide img {
  width: 50%;
  height: auto;
  margin: auto;
}

body .header .headerbg .grid .rightnavgrid {
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#200122), to(#6f0000));
  background-image: linear-gradient(to bottom, #200122, #6f0000);
}

body .header .headerbg .grid .rightnavgrid .rightnavflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  height: 90%;
  margin: auto;
}

body .header .headerbg .grid .rightnavgrid .rightnavflex .spacebetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

body .header .headerbg .grid .rightnavgrid .rightnavflex .spacebetween .lolicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  width: 100%;
  height: auto;
}

body .header .headerbg .grid .rightnavgrid .rightnavflex .spacebetween .lolicon img {
  height: 40px;
  margin: 0;
}

body .header .headerbg .grid .rightnavgrid .rightnavflex .spacebetween .fb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .header .headerbg .grid .rightnavgrid .rightnavflex .spacebetween .fb i {
  font-size: 2em;
}
/*# sourceMappingURL=style.css.map */