* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: roboto, arial, helvetica;
}

body .header {
  height: 100vh;
  margin: 0;
  color: white;
}

body .header .responsivemenu {
  display: none;
}

@media only screen and (max-width: 1090px) {
  body .header .responsivemenu {
    display: block;
    position: absolute;
    top: 7%;
    right: 5%;
  }
  body .header .responsivemenu .fa-bars {
    font-size: 3em;
    color: white;
    cursor: pointer;
  }
}

@media only screen and (max-width: 1090px) and (max-width: 720px) {
  body .header .responsivemenu .fa-bars {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 1090px) {
  body .header .responsivemenu .fa-bars:hover {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
}

@media only screen and (max-width: 1090px) {
  body .header .responsivenav {
    display: none;
  }
}

body .header .responsivenav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  z-index: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(gallery/ornbglol.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(gallery/ornbglol.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 890px) {
  body .header .responsivenav {
    width: 100%;
  }
}

body .header .responsivenav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body .header .responsivenav ul li {
  list-style: none;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  white-space: nowrap;
}

body .header .responsivenav ul a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
  font-weight: 400;
  position: relative;
  width: 55%;
  margin: auto;
  white-space: nowrap;
  text-align: center;
}

@media only screen and (max-width: 890px) {
  body .header .responsivenav ul a {
    width: 100%;
    font-size: 1.8em;
  }
}

@media only screen and (max-height: 570px) {
  body .header .responsivenav ul a {
    font-size: 1.3em;
  }
}

body .header .responsivenav ul a::after {
  position: absolute;
  content: "";
  width: 100%;
  margin: auto;
  height: 3px;
  top: 100%;
  left: 0;
  background: #960000;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

@media only screen and (max-width: 890px) {
  body .header .responsivenav ul a::after {
    display: none;
  }
}

body .header .responsivenav ul a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

@media only screen and (max-width: 890px) {
  body .header .responsivenav ul a:hover::after {
    display: none;
  }
}

@media only screen and (max-width: 890px) {
  body .header .responsivenav ul a:hover {
    color: #960000;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
}

body .header .responsivenav .exit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #181818;
  white-space: nowrap;
  color: #b4b4b4;
}

body .header .responsivenav .exit:hover {
  color: #fff;
  text-shadow: 0 0 1px #fff;
}

body .header .responsivenav .exit i {
  font-size: 1.5em;
}

body .header .responsivenav .exit p {
  font-size: 1.3em;
  padding: 0 0 0 8%;
  margin: 0;
}

@media only screen and (max-width: 890px) {
  body .header .responsivenav .exit {
    font-size: 1.4em;
    height: 8%;
  }
}

@media only screen and (max-height: 570px) {
  body .header .responsivenav .exit {
    font-size: 1em;
  }
}

body .header .headerbg {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(gallery/lolbg01.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(gallery/lolbg01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body .header .headerbg .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 47% 3%;
      grid-template-columns: 50% 47% 3%;
  height: 100%;
  margin: 0;
}

@media only screen and (max-width: 720px) {
  body .header .headerbg .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    height: 100%;
    width: 100%;
    margin: auto;
  }
}

body .header .headerbg .grid .leftgrid {
  display: -ms-grid;
  display: grid;
  height: 90%;
  width: 100%;
  margin: 0;
}

@media only screen and (max-width: 720px) {
  body .header .headerbg .grid .leftgrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
}

body .header .headerbg .grid .leftgrid .logo {
  position: absolute;
  top: 5%;
  left: 5%;
  color: #fff;
}

body .header .headerbg .grid .leftgrid .logo h2 {
  font-size: 3.5em;
}

@media only screen and (max-width: 1049px) {
  body .header .headerbg .grid .leftgrid .logo h2 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 720px) {
  body .header .headerbg .grid .leftgrid .logo h2 {
    font-size: 3.5em;
  }
}

@media only screen and (max-width: 720px) {
  body .header .headerbg .grid .leftgrid .logo h2 {
    font-size: 3em;
  }
}

@media only screen and (max-height: 710px) {
  body .header .headerbg .grid .leftgrid .logo h2 {
    font-size: 2.7em;
  }
}

body .header .headerbg .grid .leftgrid .logo sup {
  font-size: 0.5em;
}

@media only screen and (max-width: 1049px) {
  body .header .headerbg .grid .leftgrid .logo sup {
    font-size: 0.4em;
  }
}

@media only screen and (max-width: 720px) {
  body .header .headerbg .grid .leftgrid .logo sup {
    font-size: 0.5em;
  }
}

@media only screen and (max-width: 720px) {
  body .header .headerbg .grid .leftgrid .logo sup {
    font-size: 0.4em;
  }
}

@media only screen and (max-height: 710px) {
  body .header .headerbg .grid .leftgrid .logo sup {
    font-size: 0.4em;
  }
}

body .header .headerbg .grid .leftgrid .logo strong {
  color: #960000;
}

body .header .headerbg .grid .leftgrid .leftflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto auto 0 10%;
}

@media only screen and (max-width: 720px) {
  body .header .headerbg .grid .leftgrid .leftflex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto auto 20% auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body .header .headerbg .grid .leftgrid .leftflex .titlesection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

body .header .headerbg .grid .leftgrid .leftflex .titlesection .titleph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto auto auto 0;
  line-height: 0;
}

body .header .headerbg .grid .leftgrid .leftflex .titlesection .titleph .find {
  text-align: right;
  font-size: 1.6em;
  padding-bottom: 0.3em;
  color: #b4b4b4;
}

@media only screen and (max-width: 1049px) {
  body .header .headerbg .grid .leftgrid .leftflex .titlesection .titleph .find {
    font-size: 1.4em;
  }
}

@media only screen and (max-width: 720px) {
  body .header .headerbg .grid .leftgrid .leftflex .titlesection .titleph .find {
    font-size: 1.6em;
  }
}

@media only screen and (max-width: 500px) {
  body .header .headerbg .grid .leftgrid .leftflex .titlesection .titleph .find {
    font-size: 1.4em;
  }
}

@media only screen and (max-height: 710px) {
  body .header .headerbg .grid .leftgrid .leftflex .titlesection .titleph .find {
    font-size: 1.4em;
  }
}

body .header .headerbg .grid .leftgrid .leftflex .titlesection .titleph h1 {
  font-size: 3.5em;
  font-weight: 500;
  line-height: 0.3em;
  padding-bottom: 0.5em;
  color: #960000;
  text-transform: uppercase;
}

@media only screen and (max-width: 1049px) {
  body .header .headerbg .grid .leftgrid .leftflex .titlesection .titleph h1 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 720px) {
  body .header .headerbg .grid .leftgrid .leftflex .titlesection .titleph h1 {
    font-size: 3.5em;
  }
}

@media only screen and (max-width: 720px) {
  body .header .headerbg .grid .leftgrid .leftflex .titlesection .titleph h1 {
    font-size: 3em;
  }
}

@media only screen and (max-height: 710px) {
  body .header .headerbg .grid .leftgrid .leftflex .titlesection .titleph h1 {
    font-size: 3em;
  }
}

body .header .headerbg .grid .leftgrid .leftflex .titlesection .titleph sup {
  font-size: 0.5em;
  font-weight: 600;
  color: #b4b4b4;
  padding-right: 3%;
}

@media only screen and (max-width: 1049px) {
  body .header .headerbg .grid .leftgrid .leftflex .titlesection .titleph sup {
    font-size: 0.4em;
  }
}

@media only screen and (max-width: 720px) {
  body .header .headerbg .grid .leftgrid .leftflex .titlesection .titleph sup {
    font-size: 0.5em;
  }
}

@media only screen and (max-width: 720px) {
  body .header .headerbg .grid .leftgrid .leftflex .titlesection .titleph sup {
    font-size: 0.4em;
  }
}

@media only screen and (max-height: 710px) {
  body .header .headerbg .grid .leftgrid .leftflex .titlesection .titleph sup {
    font-size: 0.4em;
  }
}

body .header .headerbg .grid .leftgrid .leftflex .titlesection .desc {
  font-size: 1.3em;
  padding-bottom: 1em;
  color: #b4b4b4;
}

@media only screen and (max-width: 1049px) {
  body .header .headerbg .grid .leftgrid .leftflex .titlesection .desc {
    font-size: 1em;
  }
}

@media only screen and (max-width: 720px) {
  body .header .headerbg .grid .leftgrid .leftflex .titlesection .desc {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 720px) {
  body .header .headerbg .grid .leftgrid .leftflex .titlesection .desc {
    font-size: 1em;
  }
}

@media only screen and (max-height: 710px) {
  body .header .headerbg .grid .leftgrid .leftflex .titlesection .desc {
    font-size: 1em;
  }
}

body .header .headerbg .grid .leftgrid .leftflex .titlesection .buttonsrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 6em;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

body .header .headerbg .grid .leftgrid .leftflex .titlesection .buttonsrow .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.3em;
  margin: auto;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  width: 8em;
  -webkit-box-shadow: 0 0 20px #960000;
          box-shadow: 0 0 20px #960000;
}

body .header .headerbg .grid .leftgrid .leftflex .titlesection .buttonsrow .btn:hover {
  -webkit-box-shadow: 0 0 30px #960000;
          box-shadow: 0 0 30px #960000;
}

@media only screen and (max-width: 1049px) {
  body .header .headerbg .grid .leftgrid .leftflex .titlesection .buttonsrow .btn {
    font-size: 1em;
  }
}

@media only screen and (max-width: 720px) {
  body .header .headerbg .grid .leftgrid .leftflex .titlesection .buttonsrow .btn {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 720px) {
  body .header .headerbg .grid .leftgrid .leftflex .titlesection .buttonsrow .btn {
    font-size: 1em;
  }
}

@media only screen and (max-height: 710px) {
  body .header .headerbg .grid .leftgrid .leftflex .titlesection .buttonsrow .btn {
    font-size: 1em;
  }
}

body .header .headerbg .grid .leftgrid .leftflex .titlesection .buttonsrow .active {
  background-color: #7d0000;
}

body .header .headerbg .grid .rightgrid {
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
  margin: 0;
}

@media only screen and (max-width: 720px) {
  body .header .headerbg .grid .rightgrid {
    display: none;
  }
}

body .header .headerbg .grid .rightgrid .rightgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 25% 25% 50%;
      grid-template-rows: 25% 25% 50%;
  margin: 5% auto auto auto;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexfirstnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 100%;
  width: 100%;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexfirstnav ul {
  width: 80%;
  height: auto;
  justify-items: right;
  margin: 0 3% auto auto;
}

@media only screen and (max-width: 1090px) {
  body .header .headerbg .grid .rightgrid .rightgrid .rightflexfirstnav ul {
    display: none;
  }
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexfirstnav ul li {
  list-style: none;
  margin: 0 0 auto auto;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexfirstnav ul a {
  text-decoration: none;
  color: #b4b4b4;
  font-size: 1.3em;
  font-weight: 400;
  position: relative;
}

@media only screen and (max-width: 1590px) {
  body .header .headerbg .grid .rightgrid .rightgrid .rightflexfirstnav ul a {
    font-size: 1em;
  }
}

@media only screen and (max-width: 1338px) {
  body .header .headerbg .grid .rightgrid .rightgrid .rightflexfirstnav ul a {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 1174px) {
  body .header .headerbg .grid .rightgrid .rightgrid .rightflexfirstnav ul a {
    font-size: 0.7em;
  }
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexfirstnav ul a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #960000;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexfirstnav ul a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexfirstnav ul .activenav {
  color: #fff;
  border-bottom: 3px solid #7d0000;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto auto 0 auto;
  height: auto;
  width: 100%;
}

@media only screen and (max-height: 640px) {
  body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav {
    margin: auto;
  }
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav .secondnavtitlesection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  margin: auto;
}

@media only screen and (max-width: 1090px) {
  body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav .secondnavtitlesection {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
}

@media only screen and (max-width: 720px) {
  body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav .secondnavtitlesection {
    display: none;
  }
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav .secondnavtitlesection .titleh2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto auto 0 7%;
  line-height: 0px;
  padding: 0;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav .secondnavtitlesection .titleh2 p {
  text-align: right;
  font-size: 1.2em;
  color: #b4b4b4;
  font-weight: 500;
}

@media only screen and (max-height: 640px) {
  body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav .secondnavtitlesection .titleh2 p {
    font-size: 1em;
  }
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav .secondnavtitlesection .titleh2 h2 {
  line-height: 0.6em;
  font-size: 3.5em;
  font-weight: 700;
  color: #960000;
}

@media only screen and (max-height: 640px) {
  body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav .secondnavtitlesection .titleh2 h2 {
    font-size: 3em;
  }
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3% auto auto auto;
  width: 90%;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1090px) {
  body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav ul {
    display: none;
  }
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav ul li {
  list-style: none;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav ul a {
  text-decoration: none;
  color: #b4b4b4;
  font-size: 1.3em;
  font-weight: 400;
  position: relative;
}

@media only screen and (max-width: 1338px) {
  body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav ul a {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 1174px) {
  body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav ul a {
    font-size: 1em;
  }
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav ul a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #960000;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav ul a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

body .header .headerbg .grid .rightgrid .rightgrid .rightflexsecondnav ul .activenav {
  color: #fff;
  border-bottom: 3px solid #7d0000;
}

body .header .headerbg .grid .rightgrid .rightgrid .swiper-container {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  cursor: -webkit-grab;
  cursor: grab;
}

@media only screen and (max-width: 720px) {
  body .header .headerbg .grid .rightgrid .rightgrid .swiper-container {
    display: none;
  }
}

body .header .headerbg .grid .rightgrid .rightgrid .swiper-container .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .headerbg .grid .rightgrid .rightgrid .swiper-container .swiper-wrapper .swiper-slide .border {
  border: 1px solid #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  height: 350px;
  margin: auto;
  border-radius: 26px;
  overflow: visible;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 1746px) {
  body .header .headerbg .grid .rightgrid .rightgrid .swiper-container .swiper-wrapper .swiper-slide .border {
    width: 200px;
    height: 300px;
  }
}

@media only screen and (max-width: 1149px) {
  body .header .headerbg .grid .rightgrid .rightgrid .swiper-container .swiper-wrapper .swiper-slide .border {
    width: 200px;
    height: 300px;
  }
}

@media only screen and (max-height: 750px) {
  body .header .headerbg .grid .rightgrid .rightgrid .swiper-container .swiper-wrapper .swiper-slide .border {
    width: 160px;
    height: 250px;
  }
}

@media only screen and (max-height: 640px) {
  body .header .headerbg .grid .rightgrid .rightgrid .swiper-container .swiper-wrapper .swiper-slide .border {
    width: 150px;
    height: 230px;
  }
}

body .header .headerbg .grid .rightgrid .rightgrid .swiper-container .swiper-wrapper .swiper-slide .border img {
  display: block;
  width: 380px;
  height: auto;
  margin: auto 30% auto auto;
}

@media only screen and (max-width: 1746px) {
  body .header .headerbg .grid .rightgrid .rightgrid .swiper-container .swiper-wrapper .swiper-slide .border img {
    width: 330px;
  }
}

@media only screen and (max-width: 1149px) {
  body .header .headerbg .grid .rightgrid .rightgrid .swiper-container .swiper-wrapper .swiper-slide .border img {
    width: 250px;
  }
}

@media only screen and (max-height: 750px) {
  body .header .headerbg .grid .rightgrid .rightgrid .swiper-container .swiper-wrapper .swiper-slide .border img {
    width: 190px;
  }
}

body .header .headerbg .grid .rightgrid .rightgrid .swiper-container .swiper-button-next, body .header .headerbg .grid .rightgrid .rightgrid .swiper-container .swiper-button-prev {
  display: none;
}

@media only screen and (max-width: 1149px) {
  body .header .headerbg .grid .rightgrid .rightgrid .swiper-container .swiper-button-next, body .header .headerbg .grid .rightgrid .rightgrid .swiper-container .swiper-button-prev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

body .header .headerbg .grid .rightnavgrid {
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#200122), to(#6f0000));
  background-image: linear-gradient(to bottom, #200122, #6f0000);
}

@media only screen and (max-width: 1090px) {
  body .header .headerbg .grid .rightnavgrid {
    display: none;
  }
}

body .header .headerbg .grid .rightnavgrid .rightnavflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  height: 90%;
  margin: auto;
}

body .header .headerbg .grid .rightnavgrid .rightnavflex .spacebetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

body .header .headerbg .grid .rightnavgrid .rightnavflex .spacebetween .lolicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  width: 100%;
  height: auto;
}

body .header .headerbg .grid .rightnavgrid .rightnavflex .spacebetween .lolicon img {
  height: 40px;
  margin: 0;
}

@media only screen and (max-width: 1277px) {
  body .header .headerbg .grid .rightnavgrid .rightnavflex .spacebetween .lolicon img {
    height: 35px;
  }
}

body .header .headerbg .grid .rightnavgrid .rightnavflex .spacebetween .fb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .header .headerbg .grid .rightnavgrid .rightnavflex .spacebetween .fb i {
  font-size: 2em;
}
/*# sourceMappingURL=style.css.map */